.cursos {
  max-width: 74rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
  border-bottom: 1px solid rgba(0, 77, 187, 0.5);
}

@media (max-width: 40rem) {
  .cursos {
    gap: 12px;
  }
}

h1 {
  grid-column: 1 / 13;
  margin-top: 100px;
  font-family: var(--type-first);
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
}

.cursos h6 {
  margin-top: 32px;
  font-family: var(--type-second);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  grid-column: 1 / 13;
}

.box1 {
  margin-top: 24px;
  grid-column: 1 / 7;
  background: #ffffff;
  border: 1px solid rgba(0, 24, 58, 0.16);
  box-sizing: border-box;
  display: flex;
  padding: 32px;
  cursor: pointer;
}

.box2 {
  margin-top: 24px;
  grid-column: 7 / 13;
  background: #ffffff;
  border: 1px solid rgba(0, 24, 58, 0.16);
  box-sizing: border-box;
  display: flex;
  padding: 32px;
  cursor: pointer;
}

span {
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}

@media (max-width: 40rem) {
  span {
    gap: 12px !important;
  }
}

.box3 {
  grid-column: 1 / 7;
  background: #ffffff;
  border: 1px solid rgba(0, 24, 58, 0.16);
  box-sizing: border-box;
  display: flex;
  padding: 32px;
  cursor: pointer;
}

.box4 {
  grid-column: 7 / 13;
  background: #ffffff;
  border: 1px solid rgba(0, 24, 58, 0.16);
  box-sizing: border-box;
  display: flex;
  padding: 32px;
  cursor: pointer;
}

.box1:hover,
.box1:focus,
.box2:hover,
.box2:focus,
.box3:hover,
.box3:focus,
.box4:hover,
.box4:focus {
  background: rgba(91, 152, 240, 0.12);
  border: 1px solid rgba(91, 152, 240, 0.64);
  box-sizing: border-box;
}

.infoFaculdade {
  margin-left: 16px;
}

.infoFaculdade h3 {
  font-family: var(--type-second);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.dataFaculdade {
  display: flex;
  align-items: center;
  align-content: center;
}

.dataFaculdade p {
  font-family: var(--type-second);
  margin-top: 16px;
  margin-right: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.nome::before {
  content: url("../Assets/formacao/nome.svg");
  margin-right: 2px;
}

.tempo::before {
  content: url("../Assets/formacao/tempo.svg");
  margin-right: 8px;
}

.data::before {
  content: url("../Assets/formacao/data.svg");
  margin-right: 8px;
}

.verTodos,
.verTodosUp {
  font-family: var(--type-second);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #5b98f0;
  cursor: pointer;
  grid-column: 1 / 13;
  margin-bottom: 32px;
}

.verTodosUltimo,
.verTodosUltimoUp {
  font-family: var(--type-second);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #5b98f0;
  cursor: pointer;
  grid-column: 1 / 13;
  margin-bottom: 100px;
}

@media (max-width: 40rem) {
  .verTodos,
  .verTodosUp {
    border-bottom: 1px solid rgba(0, 77, 187, 0.25);
    padding-bottom: 48px;
  }
  .verTodosUltimo,
  .verTodosUltimoUp {
    margin-bottom: 40px;
  }
}

.verTodos::after,
.verTodosUltimo::after {
  content: url("../Assets/caret-down.svg");
  margin-left: 8px;
}

.verTodosUp::after,
.verTodosUltimoUp::after {
  content: url("../Assets/caret-up.svg");
  margin-left: 8px;
}

.accordeonDontShow {
  display: none;
}

/*---------------------------------mobile-----------------------*/

.boxNotShow {
  display: none;
}

.h1Mobile {
  margin-top: 40px;
  font-family: var(--type-first);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

.box1Mobile {
  grid-column: 1 / 13;
  background: #ffffff;
  border: 1px solid rgba(0, 24, 58, 0.16);
  box-sizing: border-box;
  padding: 12px 16px;
}

.box1Mobile h3 {
  font-family: var(--type-second);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.imgEdados {
  display: flex;
  margin-top: 12px;
  font-family: var(--type-second);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.dados {
  margin-left: 40px;
  display: grid;
}

.inline {
  display: flex;
  margin-left: -4px;
}

.inline p {
  display: flex;
  align-items: center;
  margin-right: 12px;
  margin-bottom: 4px;
}

.h6Mobile {
  font-family: var(--type-second);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
}

.h6MobileDesi {
  margin-top: 0px !important;
}
