.sobre {
  max-width: 74rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
  border-bottom: 1px solid rgba(0, 77, 187, 0.5);
}

.firstBox {
  grid-column: 1 / 6;
}

.secondBox {
  grid-column: 6 / 13;
}

.firstBox h1 {
  font-family: var(--type-first);
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
}

.idioma {
  margin-top: 64px;
}

.idioma h6 {
  font-family: var(--type-second);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 12px;
}

.idioma p {
  font-family: var(--type-second);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 8px;
}

.usa::after {
  content: url("../Assets/USA.svg");
  margin-left: 12px;
}

.br::after {
  content: url("../Assets/BR.svg");
  margin-left: 12px;
}

.links {
  margin-top: 136px;
  display: grid;
  margin-bottom: 100px;
}

.links a {
  display: flex;
  margin-top: 16px;
  align-items: center;
  font-family: var(--type-second);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.links a img {
  margin-right: 8px;
}

.secondBox {
  margin-top: 220px;
}

.secondBox p {
  font-family: var(--type-second);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 32px;
}

.secondBox p:first-child {
  font-family: var(--type-second);
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.textoDesktop {
  display: none;
}
/*---------------------------Mobile-----------------------------*/

.firstBoxMobile {
  grid-column: 1 / 13;
}

.firstBoxMobile .h1Mobile {
  font-family: var(--type-first);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  width: 150px;
}

.textoOriginal {
  display: none;
}

.firstBoxMobile .textoMobile p {
  font-family: var(--type-second);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
  margin-top: 24px;
}

.firstBoxMobile .textoMobile .primeroP {
  font-family: var(--type-second);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: -12px;
}

.lerTudo,
.lerTudoUp {
  font-family: var(--type-second);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #5b98f0;
}

.lerTudoUp::after {
  content: url('../Assets/caret-down.svg');
  margin-left: 8px;
}

.lerTudo::after {
  content: url('../Assets/caret-up.svg');
  margin-left: 8px;
}

.accordeonShow {
  display: none;
}

.idiomaMobile {
  margin-top: 32px;
}

.idiomaMobile h6 {
  font-family: var(--type-second);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}

.idiomaMobile p {
  font-family: var(--type-second);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
}

.linksMobile {
  margin-top: 32px;
  margin-bottom: 40px;
  display: grid;
}

.linksMobile a {
  display: flex;
  margin-top: 16px;
  align-items: center;
  font-family: var(--type-second);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.linksMobile a img {
  margin-right: 8px;
}

.textoMobile span p {
  grid-column: 1 / 13;
}

.fixMargin1 {
  margin-top: 6px !important;
}

.fixMargin {
  margin-top: -8px !important;
}