@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background: #fbfbff;
  margin: 0px;
  --type-first: Montserrat, Arial, sans-serif;
  --type-second: Open Sans, sans-serif;
  color: #00183a;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #00183a;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

@media (max-width: 40rem) {
  .App {
    margin: 0 16px;
  }
}
